/* The class name for the banner. */
.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

/* The class name for the title. */
.lmj-title {
	padding-left: 32px;
}

/* Setting the height and width of the logo. */
.lmj-logo {
	height: 45px;
	width: 45px;
}